<!-- pick list -->
<section class="level-modifier-item" *ngIf="item && pickList && player" [ngClass]="{'level-modifier-item-active': (points || isGained), 'level-modifier-item-inactive': (!points && !isGained)}">
  <section *ngIf="item.type === 'attribute'">
    <div>
      <button (click)="editStat(false)" [disabled]="!points">-</button>
      <span class="level-point-amount">{{points}}</span>
      <button (click)="editStat(true)" [disabled]="pickList.allowed <= pickList.chosen">+</button>
      <span class="level-point-title item" (click)="itemNameClick($event)">{{item.name}} ( {{player['attributes'][item.name].value}} )</span>
    </div>
  </section>
  <section *ngIf="item.type === 'skill' && pickList.allowed > 0">
    <div>
      <button (click)="editStat(false)" [disabled]="!points">-</button>
      <span class="level-point-amount">{{points}}</span>
      <button (click)="editStat(true)" [disabled]="pickList.allowed <= pickList.chosen">+</button>
      <span class="level-point-title item" (click)="itemNameClick($event)">{{item.name}} ( {{player['core skills'][item.name].value}} )</span>
    </div>
  </section>
  <!-- negative skills if negative attributes -->
  <section *ngIf="item.type === 'skill' && pickList.allowed < 0">
    <div>
      <button (click)="editStat(false)" [disabled]="pickList.allowed >= pickList.chosen">-</button>
      <span class="level-point-amount">{{points}}</span>
      <button (click)="editStat(true)" [disabled]="!points">+</button>
      <span class="level-point-title item" (click)="itemNameClick($event)">{{item.name}} ( {{player['core skills'][item.name].value}} )</span>
    </div>
  </section>
  <section *ngIf="item.type === 'ability' || item.type === 'spell' || item.type === 'armor proficiency' || item.type === 'weapon proficiency'">
    <div>
    	<button (click)="gainStat()" [disabled]="(player.temp[item.type][item.name] || pickList.allowed <= pickList.chosen) && !isGained">{{gainedSymbol}}</button>
      <span class="level-point-title item" (click)="itemNameClick($event)">{{item.name}}</span>
    </div>
  </section>
</section>
<!-- passive -->
<section class="level-modifier-item" *ngIf="item && !pickList && player">
  <section *ngIf="item.type === 'attribute' || item.type === 'skill'">
    <span class="item" (click)="itemNameClick($event)">{{item.name}} <span *ngIf="item.value > 0">+</span>{{item.value}}</span>
  </section>
  <section *ngIf="item.type === 'action points'">
    <span>{{item.type}}: {{item.value}}</span>
  </section>
  <section *ngIf="item.type === 'ability' || item.type === 'spell' || item.type === 'armor proficiency' || item.type === 'weapon proficiency'">
    <span class="item" (click)="itemNameClick($event)">{{item.name}}</span>
  </section>
</section>