<section class="level-container" *ngIf="players">
  <section class="level-form-input">
  	<label>
      <span>Player:</span>
      <span>{{players.selectedPlayer['player name']}}</span>
    </label>
    <label>
      <span>Character:</span>
      <span>{{players.selectedPlayer['name']}}</span>
    </label>
    <section *ngIf="attribute">
      <h3>Attribute points</h3>
      <h5>Picked <span class="level-modifier-pick-available">{{attribute.pickList.chosen}}/{{attribute.pickList.allowed}}</span></h5>
      <section>
        <!-- @TODO: change to a component -->
        <sr-level-modifier-item [item]="attribute['STR']" [pickList]="attribute.pickList" [player]="players.selectedPlayer"></sr-level-modifier-item>
        <sr-level-modifier-item [item]="attribute['DEX']" [pickList]="attribute.pickList" [player]="players.selectedPlayer"></sr-level-modifier-item>
        <sr-level-modifier-item [item]="attribute['INF']" [pickList]="attribute.pickList" [player]="players.selectedPlayer"></sr-level-modifier-item>
        <sr-level-modifier-item [item]="attribute['WIS']" [pickList]="attribute.pickList" [player]="players.selectedPlayer"></sr-level-modifier-item>
      </section>
    </section>
    <section *ngIf="modifiersInLevelingRange['races']">
      <h3>Race modifiers</h3>
      <sr-level-modifier [modifiers]="modifiers['races']" [player]="players.selectedPlayer"></sr-level-modifier>
    </section>
    <section *ngIf="modifiersInLevelingRange['classes']">
      <h3>Class modifiers</h3>
      <sr-level-modifier [modifiers]="modifiers['classes']" [player]="players.selectedPlayer"></sr-level-modifier>
    </section>
  </section>
  <button type="submit" (click)="finishLeveling()">Finish</button>
</section>