<section class="player-selection"  *ngIf="players && players.selectedPlayer && mainView && mainView.subView">
  <section *ngIf="mainView.subView.subView && mainView.subView.subView.view === 'leveling'">
    <sr-level-container></sr-level-container>
  </section>
  <section *ngIf="mainView.subView.subView && mainView.subView.subView.view === 'skill point'">
    <sr-skill-container></sr-skill-container>
  </section>
  <section *ngIf="!mainView.subView.subView">
    <sr-player-view [player]="players.selectedPlayer"></sr-player-view>
  </section>
</section>