<span class="stat" *ngIf="player && key && config && !config.named" (click)="statClick($event)">
  <!-- title first -->
  <span class="stat-title" *ngIf="!config.hideTitle && config.titleFirst && !config.altTitle && !innerKey">{{key}}:</span>
  <span class="stat-title" *ngIf="!config.hideTitle && config.titleFirst && !config.altTitle && innerKey">{{innerKey}}:</span>
  <span class="stat-title" *ngIf="!config.hideTitle && config.titleFirst && config.altTitle">{{config.altTitle}}</span>

  <!-- value -->
  <span class="stat-value" *ngIf="(player[key].value || player[key].value === 0) && !innerKey">{{player[key].value}}</span>
  <span class="stat-value" *ngIf="innerKey">{{player[key][innerKey].value}}</span>
  <span class="stat-value" *ngIf="player[key] === 0 || (!player[key].value && player[key].value !== 0) && !innerKey">{{player[key]}}</span>

  <!-- title last -->
  <span class="stat-title" *ngIf="!config.hideTitle && !config.titleFirst && !config.altTitle && !innerKey">{{key}}</span>
  <span class="stat-title" *ngIf="!config.hideTitle && !config.titleFirst && !config.altTitle && innerKey">{{innerKey}}</span>
  <span class="stat-title" *ngIf="!config.hideTitle && !config.titleFirst && config.altTitle">{{config.altTitle}}</span>
</span>
<span class="stat" *ngIf="player && key && config && config.named" (click)="statClick($event)">
  <!-- named and valueless -->
  <span class="stat-value">{{player[key][innerKey].name}}</span>
</span>